/*h1 {
    color: red !important;
}

.navbar-inverse {
    background-image: linear-gradient(#ec0040, #c50333 60%, #c10036);
}

body {
    background-color: #c10036;
}

.navbar-inverse {
    background-image: linear-gradient(#e9242d, #e9242d 60%, #e9242d);

}
.dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background:darkred;
    padding: 20px 20px;
}

.logo {
    text-align: center;
}
.navbar-inverse .navbar-nav>li>a {
    color:white;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #c8c8c8;
    background-color: #272b30;
}
.container {
    height: 100%;
}
*/
.navbar-inverse {
    background-color: #666;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 3;
    color: #ffffff;
    background-color: #4b1f68;
    border-color: transparent;
    cursor: default;
}



svg:not(:root).svg-inline--fa.element {
    overflow: visible;
    margin: 0px 7px;
    color: #04a1dd;
}
svg:not(:root).svg-inline--fa.element.title {
    overflow: visible;
    margin: 0px 7px;
    color:blueviolet;
}

td.total {
    
    color: #04a1dd;
    border-radius: 0%;
    border: 2px 0 0 0 #04a1dd;
    text-align: center;
}
.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

span.included_false {
    margin-left: 20px;
    color: #dddddd
}

span.included_true {
    margin-left: 20px;
    color: #b6b77d
}

span.closed_false {
    margin: 2px;
    color: #c2c2c2
}
span.closed_true {
    margin: 2px;
    color: #b6b77d
}
svg:not(:root).svg-inline--fa {
    overflow: visible;
    margin-right: 10px;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    margin-right: 5em; 
    width: 300px;
    background-color: #ecf0f1;
}
i#reserved {
    color: #58acce;
    margin-left: 0.5em;
}

i#destroyed {
    color: rgb(196, 82, 82);
    margin-left: 0.5em;
}

i#pending {
    color: rgb(219, 154, 68);
    margin-left: 0.5em;
    
}
i#subdoctype {
    color: rgb(99, 74, 116);
    margin-left: 0.5em;
    
}

i:hover {
    position: relative;
}

i[title]:hover:after {
    
    content: attr(title);
    padding: 18px 18px;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 30px;
    
    background:#04a1dd;
    color: #ffffff;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

i#pending[popup]:hover:after {
    
    content: attr(popup);
    padding: 8px 8px;
    position: absolute;
    left: 10;
    top: 100%;
    white-space: nowrap;
    z-index: -20px;
    background:rgb(219, 154, 68);
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant-caps: all-small-caps
}
i#reserved[popup]:hover:after {
    
    content: attr(popup);
    padding: 8px 8px;
    position: absolute;
    left: 10;
    top: 100%;
    white-space: nowrap;
    z-index: -20px;
    background:#58acce;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant-caps: all-small-caps

}
i#destroyed[popup]:hover:after {
    
    content: attr(popup);
    padding: 8px 8px;
    position: absolute;
    left: 10;
    top: 100%;
    white-space: nowrap;
    z-index: -20px;
    background:rgb(196, 82, 82);
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant-caps: all-small-caps

}
i#subdoctype[popup]:hover:after {
    
    content: attr(popup);
    padding: 8px 8px;
    position: absolute;
    left: 10;
    top: 100%;
    white-space: nowrap;
    z-index: -20px;
    background:rgb(99, 74, 116);
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant-caps: all-small-caps

}