<div class="row img-rounded" style="background: #009ddf">

    <div class="col-md-4" style="text-align:center; color: white">
      
    </div>
    <div class="col-md-4" style="text-align:center">

        <a href="/docrequestsview/list/"><img border="0" src="/static/img/gea-logo-blue.gif" alt="GEA Logo" class="center" height=19px ></a></h3>
       
    </div>
    <div class="col-md-4" style="text-align:center; color:white">
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp hosted by <strong>QuasarPM.com</strong></p>
    </div>
    </div>