{% extends 'appbuilder/baselayout.html' %}

{% block head_css %}
    {{ super() }}
      
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/mycss.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('static',filename='css/dropzone.css')}}"></link>

    {% endblock %}

{% block head_js %}
    {{ super() }}


    <script src="{{url_for('static',filename='js/moment.js')}}"></script>
    <script src="{{url_for('static',filename='js/dropzone.js')}}"></script>

    
 
    
    
  

    

    
    
    <!--
        <script src="{{url_for('static',filename='js/custom.js')}}"></script>
        <script defer src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script defer src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    
    <script defer src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
    <script defer src="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></link>
    -->
    {% endblock %}

